 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 978px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 70px 60px 0 600px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 49px;
  margin-left: auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  font-size: 1rem;
  margin: 66px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 40px auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 406px;
  min-height: 51px;
  margin: 3px 17px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 11px 20px 12px 19px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  margin: -50px 174px 0 121px;
  padding: 11px 20px 12px 19px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  margin: -50px 0 0 auto;
  padding: 11px 20px 12px 19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 60px 60px 30px;
}

.u-section-1 .u-image-1 {
  height: 445px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 460px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-1 .u-group-elements-1 {
    height: auto;
    margin-right: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    height: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 482px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-1 .u-image-1 {
    height: 297px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 978px;
}

.u-section-2 .u-text-1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 70px 60px 0 600px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 49px;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  font-size: 1rem;
  margin: 66px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 40px auto 0 0;
  padding: 0;
}

.u-section-2 .u-group-elements-1 {
  width: 406px;
  min-height: 51px;
  margin: 3px 17px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 11px 20px 12px 19px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  margin: -50px 174px 0 121px;
  padding: 11px 20px 12px 19px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  margin: -50px 0 0 auto;
  padding: 11px 20px 12px 19px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-2 .u-container-layout-2 {
  padding: 60px 60px 60px 30px;
}

.u-section-2 .u-image-1 {
  height: 445px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 40px 0 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0 auto;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 460px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-2 .u-group-elements-1 {
    height: auto;
    margin-right: 4px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-2 .u-image-1 {
    height: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 300px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 482px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 6rem;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-2 .u-image-1 {
    height: 297px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 460px;
}

.u-section-3 .u-form-1 {
  background-image: none;
}

.u-section-3 .u-btn-1 {
  padding: 12px 31px 12px 29px;
}

.u-section-3 .u-shape-1 {
  width: 235px;
  height: 201px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 235px;
  height: 200px;
  margin: 0 0 60px auto;
}